<h1>admin restaurants</h1>
<br />
<br />
<div class="row">
  <a href="/admin/restaurants">Restaurants</a>
  <p>|</p>
  <a href="/admin/users">Users</a>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      <td>{{#if isAdmin}}admin{{else}}user{{/if}}</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Set as {{#if isAdmin}}admin{{else}}user{{/if}}</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>